<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/navbar :: resources"></th:block>
    <meta charset="UTF-8">
    <title>Pizzas</title>
</head>
<body class="bg-dark">
<nav th:replace="~{/fragments/navbar :: navbar('index')}"></nav>
<div class="container d-flex flex-wrap justify-content-center">
    <div class="card mt-3 mx-2" style="width: 18rem;" th:each="photo : ${photos}">
        <img th:src="@{${photo.url}}" class="card-img-top" th:alt="*{title}">
        <div class="card-body text-center">
            <h3 class="card-title" th:text="${photo.title}"></h3>
            <p class="card-text" th:text="${photo.description}"></p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" th:href="@{|/photos/${photo.id}|}"><i class="fa-regular fa-image"></i></a>
                <a class="btn btn-warning mx-2" th:href="@{|/photos/edit/${photo.id}|}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-danger" th:href="@{|/photos/delete/${photo.id}|}"><i class="fa-regular fa-trash-can"></i></a>
            </div>
        </div>
    </div>
</div>
<hr class="border border-white">
<!--    AGGIUNTA NUOVE FOTO-->
<div class="container">
    <div class="card text-center mx-auto my-3">
        <div class="card-header">
            By Luigi G.
        </div>
        <div class="card-body">
            <h5 class="card-title">Continua a sperimentare ed esplorare</h5>
            <p class="card-text">Salva tutte le tue foto in cloud</p>
            <a th:href="@{/photos/create}" class="btn btn-primary">Aggiungi altre foto</a>
        </div>
    </div>
</div>


<th:block th:replace="~{/fragments/navbar :: scripts}"></th:block>
</body>
</html>